# Byte-compiled / optimized / DLL files
# Environment Variables (API Keys and Secrets)
.env

#document_portal.egg-info 
document_portal.egg-info

#data 
data/

#faiss_index
faiss_index/

archive/


# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
# Virtual Environment (Packages)
.venv/
venv/
env/
venv/
ENV/


# Project specific metadata
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
